body {
    background-color: #003153;
}
h1 {
    font-size: 36px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
    font-weight: bold;
}
h2 {
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffd700;
}
h3 {
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffd700;
}
p {
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
}
li {
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
}
a:link {
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffd700;
}
a:visited {
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
}
a:hover {
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffec80;
}
a:active {
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
}
p&a:link {
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffd700;
}
p&a:link {
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
}
p&a:link {
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffec80;
}
p&a:link {
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
}