body {
    background-color: #003153;
}
h1 {
    font-size: 36px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
}
h2 {
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffd700;
}
p {
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
}