body {
    background-color: #003153;
}
section{
    background-color: #00000040;
    border: 0.25em #ffd700 solid;
    border-radius: 0.5em;
    padding-left: 0.5em;
}
h1 {
    font-size: 2.25em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
    font-weight: bold;
}
h2 {
    font-size: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffd700;
}
h3 {
    font-size: 1.25em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffd700;
}
p {
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
}
li {
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
}
a:link {
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffd700;
}
a:visited {
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
}
a:hover {
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffec80;
}
a:active {
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
}
p&a:link {
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffd700;
}
p&a:link {
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
}
p&a:link {
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffec80;
}
p&a:link {
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
}
.italic {
    font-style: italic;
}