body {
    background-color: #003153;
}
h1 {
    color: white;
    text-align: center;
    font-family: verdana;
    size: 24px;
}
p {
    color: #ffd700;
    text-align: justify;
    font-family: verdana;
    size: 16px;
}
a:link{
    color: #ffffff;
    font-family: verdana;
    size: 16px;
}
a:visited{
    color: #ffd700;
    font-family: verdana;
    size:16px;
}
a:hover{
    color: #ffeb80;
    font-family: verdana;
    size: 16px;
}
a:active{
    color: #ffeb80;
    font-family: verdana;
    size: 16px;
}