section.description{
    grid-template-columns: auto 240px;
    display: grid;
    border: none;
    background-color: #00000000;
    padding-bottom: 2em;
}
section.description.twoInfoboxLevels{
    grid-template-columns: auto 300px;
    display: grid;
    border: none;
    background-color: #00000000;
    padding-bottom: 2em;
}
section.descriptionText{
    border: 0.25em #ffd700 solid;
    background-color: #00000040;
    padding-right: 0.5em;
}
section.descriptionText section{
    background-color: #00000000;
}
section.descriptionText section.noBGStyle{
    border: none;
    background-color: #00000000;
}
section.infobox{
    grid-template-columns: 240px;
    display: grid;
    padding: 0px;
    grid-column: 2;
    grid-row: 1/3;
}
section.infobox.twoLevels{
    grid-template-columns: 300px;
    display: grid;
    padding: 0px;
}
section.infobox img{
    width: 236px;
    height: 236px;
    border-bottom: 0.25em #ffd700 solid;
    margin-left: 0px;
}
section.infobox.twoLevels img{
    width: 296px;
    height: 296px;
    border-bottom: 0.25em #ffd700 solid;
    margin-left: 0px;
}
section.infobox p{
    border-bottom: 0.125em #ffd700 solid;
    text-align: center;
    vertical-align: middle;
    width: 232px;
    margin-top: 0.5em;
    margin-bottom: 0px;
    padding-bottom: 0.5em;
    margin-left: 0px;
}
section.infobox.twoLevels p{
    border-bottom: 0.125em #ffd700 solid;
    text-align: center;
    vertical-align: middle;
    width: 292px;
    margin-top: 0.5em;
    margin-bottom: 0px;
    padding-bottom: 0.5em;
    margin-left: 0px;
}
section.infobox p.tier{
    font-size: 2em;
    text-align: center;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    width: 236px;
}
section.infobox.twoLevels p.tier{
    font-size: 2em;
    text-align: center;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    width: 296px;
}
section.infobox p.beforeWeaponInfo{
    border-bottom: none;
    width: 236px;
    text-align: left;
    margin-left: 0.5em;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}
section.infobox.twoLevels p.beforeWeaponInfo{
    border-bottom: none;
    width: 296px;
    text-align: left;
    margin-left: 0.5em;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}
section.infobox ul.weaponInfo{
    border-bottom: 0.125em #ffd700 solid;
    padding-bottom: 0.5em;
    margin-left: 0px;
}
section.infobox ul.weaponInfo li{
    width: 180px;
}
.tier2{
    color: #7e7e74;
    font-weight: bold;
}
.tier3{
    color: #36393d;
    font-weight: bold;
    background-color: #ffffff80;
}
.tier4{
    color: #090b10;
    font-weight: bold;
    background-color: #ffffff80;
}
.tier5{
    color: #3b2920;
    font-weight: bold;
    background-color: #ffffff80;
}
.laserBlaster{
    color: #f04f54;
}
.APBullet{
    color: #EFE87B;
}
section.infobox .bottom{
    border-bottom: none;
}
.DR{
    color: #999999;
}
.health{
    color: #57ef52;
}
.regularDamage{
    color: #f04f54;
}
.shieldDamage{
    color: #f69396;
}
.bad1{
    color: #fbd5d6;
}
.bad2{
    color: #f69396;
}
.bad3{
    color: #f04f54;
}
.bad4{
    color: #f04f54;
    font-weight: bold;
}
.bad5{
    color: #f04f54;
    font-weight: bold;
    font-style: italic;
}
.good1{
    color: #d6fbd5;
}
.good2{
    color: #97f594;
}
.good3{
    color: #57ef52;
}
.good4{
    color: #57ef52;
    font-weight: bold;
}
.good5{
    color: #57ef52;
    font-weight: bold;
    font-style: italic;
}
.rock{
    color: #999999;
    font-weight: bold;
}
.wood{
    color: #966F33;
    font-weight: bold;
}
.lightGray{
    color: #cccccc;
}
.gray{
    color: #999999;
}
.darkGray{
    color: #333333;
    background-color: #ffffff80;
}
.darkRed{
    color: #660000;
    background-color: #ffffff80;
}
.darkCyan{
    color: #006666;
    background-color: #ffffff80;
}
.darkPurple{
    color: #6600cc;
    background-color: #ffffff80;
}
.red{
    color: #f04f54;
}
.orange{
    color: #ff8000;
}
.yellow{
    color: #FFE46B;
}
.green{
    color: #57ef52;
}
.cyan{
    color: #00ffff;
}
.blue{
    color: #4F54F0;
}
.purple{
    color: #9933ff;
}
.soil{
    color: #9b7653;
    font-weight: bold;
}
.stun{
    color: #ffff99;
    font-weight: bold;
}
.weaken{
    color: #9933ff;
    font-weight: bold;
}
.torch{
    color: #ff9900;
    font-weight: bold;
}
.fragWeaken{
    color: #008080;
    font-weight: bold;
    background-color: #ffffff80;
}
.EMP{
    color: #000000;
    font-weight: bold;
    background-color: #ffffff80;
}
.chiller{
    color: #99ffff;
    font-weight: bold;
}
.lava{
    background-image: linear-gradient(to right, #ff6600 0%,#ffcc00 20%,#ffcc00 30%,#ff6600 40%,#ff9900 50%,#ff9900 60%,#ff6600 70%,#ff9900 80%,#ff9900 90%,#ff6600 100%);
    color: transparent;
    background-clip: text;
    font-weight: bold;
}
.ice{
    background-image: linear-gradient(to right, #0066ff 0%,#00ccff 20%,#00ccff 30%,#0066ff 40%,#0099ff 50%,#0099ff 60%,#0066ff 70%,#0099ff 80%,#0099ff 90%,#0066ff 100%);
    color: transparent;
    background-clip: text;
    font-weight: bold;
}